<ul>
{% for key, facet in elements %}
{% if key|first != '#' %}
  {# {{ facet }} #}
  <li>
    <fieldset>
      <legend>{{ facet['#title'] }}</legend>
      <ul>
        {% for item_key, item in facet %}
        {% if item_key|first != '#' %}
          <li>{{ item }}</li>
          {% endif %}
        {% endfor %}
      </ul>
    </fieldset>
  </li>
  {% endif %}
{% endfor %}
</ul>
